<html>
    <head>
        <title>Armandos Blog </title>
    </head>
    <body>
        <div>
            <h1><a href="">Armando Xhimanki's Test Site</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">I LOVE GABRIELA ACOBO</a></h2>
            <p>test writing test writingtest writingtest writingtest writingtest writingtest writingtest writingtest writingtest writingtest writingtest writingtest writingtest writingtest writingtest writingtest writingtest writingtest writingtest writingtest writingtest writingtest writingtest writingtest writingtest writingtest writingtest writingtest writingtest writingtest writingtest writingtest writingtest writingtest writingtest writingtest writingtest writingtest writingtest writingtest writingtest writing .</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Things to do this winter</a></h2>
            <p> 1. Go see Manny perform
            	2. Go to a country show
            	3. Give gaby besitos  </p>
        </div>
    </body>
</html>